extends layout

block content
  .col-md-7
    h2 About
    br
    br
    p Pairletes was created to match like minded fitness individuals.
    br
    br
    a.btn.btn-default(href='/about/matchalgo') The Matching Algorithm 
    br
    br
    a.btn.btn-default(href='/about/designprocess') The Architecture, Design & Process 
    br
    br
    a.btn.btn-default(href='/about/testing') Testing, Validation & Results 
    br
    br
    a.btn.btn-default(href='/about/references') References
    
  
  .col-md-5
    h2 Creators
    h3 Matthew Seneque
    p Student Number: 10265601
    p Bio:
    br
    h3 Kieran Quirke-Brown 
    p Student Number: ########
    p Bio:
    br
    h3 Debbie Yung 
    p Student Number: 20365555
    p Bio: I like to make things pretty, so I was in charge of the visual design, login/registration and profiles.
