extends layout

block content
  .col-md-7
    h2 About
    br
    br
    p Pairletes was created to match like minded fitness individuals.
    br
    br
    a.btn.btn-default(href='#') The Matching Algorithm 
    br
    br
    a.btn.btn-default(href='#') The Architecture, Design & Process 
    br
    br
    a.btn.btn-default(href='#') Testing, Validation & Results 
    br
    br
    a.btn.btn-default(href='#') References
    
  
  .col-md-5
    h2 Creators
    h3 Matthew Seneque
    p Student Number: ########
    p Bio:
    br
    h3 Kieran Quirke-Brown 
    p Student Number: ########
    p Bio:
    br
    h3 Debbie Yung 
    p Student Number: 20365555
    p Bio:
