extends layout

block content
  script.
      console.log('loading script');
      var socket = io();
      console.log('connected');
      
      socket.emit('getChats', user._id);

      socket.on('generateChats', function(chats){
        $('#chats').empty();
          $.each(chats, function(key, value){
            $('#chats').append('<li><a href="#" onclick="enterChat(\'' + value._id + '\')">' + value.name +</a></li>')
          });
      });

      function enterChat(chat){
          socket.emit('enterChat', chat)
      }

  .container
    #chatwindow
      #contents

        h1 Chats
        ul(id="chats")
           each chat in chats
              li= chat