extends layout

block content    
  h3.text-center YOUR MATCH RESULTS
  .container
    .row.text-center
      each match in matchResults
        .col-sm-4
          .thumbnail
            img(src="...", alt="#{matchResults.username}", width="400", height="300")
            p
              strong #{match.username}
            p Male
            button.btn Request