extends layout

block content   
  if (user)
    h3.text-center YOUR TOP MATCH RESULTS
    .row.text-center
      each match in matchResults
        .col-sm-4
          .thumbnail
            h1
              strong #{match.username}
            p Male
            a(href="")
              button.btn.btn-default(type='button') Request
            &nbsp;
            &nbsp;
            a(href="/profile/#{match.username}")
              button.btn.btn-default(type='button') View profile

  if (!user)
    h3.text-center Please Login to view your match results
    br
    p.lead
      a.btn.btn-lg.btn-default(href='/login') Let's Login!