doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./stylesheets/chat.css')
      
    script(src="/socket.io/socket.io.js")
    script(src="http://code.jquery.com/jquery-1.11.1.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")

  body
    p Links
    a(href='/') Home
    br
    a(href='/messages') Messages
    br
    //General links
    //a(href="/person") Person
    br
    //Not logged in Links
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
      
    //Logged in Links
    if (user)
      br
      a(href="/profile/"+'#{user.id}') Profile
      br
      a(href="/editprofile/"+"#{user.id}") Edit Profile
      p You are currently logged in as #{user.username}
      a(href="/logout") Logout


    #content(width='50%', float='left')    
      block content
      
    
