extends layout

block content
   h1 Login
   .frame
     br
     form(action="/login",method="post")
       .form-group
         label(for='username') Username:
         input.form-control(type='username' placeholder='Enter username' name='username' autofocus)
         
       .form-group
         label(for='password') Password:  
         input.form-control(type='password' placeholder='Enter password' name='password')
       |  
       input.btn.btn-default(type='submit' value='Login')
