extends layout

block content
  script.
      console.log('loading script');
      var socket = io();
      console.log('connected');

      function send(){
        console.log('send');
        var message = document.getElementById('message');
        socket.emit('message', message.value);
        message.value = '';
      };

      socket.on('message', function(msg){
        var messages = document.getElementById('messages');
        var newText = document.createElement('li');
        newText.innerHTML = msg;
        messages.appendChild(newText);
      });
    

  h1 Messages

  ul(id="messages")
    li First Post!
    
  form(action="", id='msgForm', onSubmit='return false;')
      input.form-control(id="message" placeholder="Send A Message" autocomplete="off")
      br
      br
      button.btn.btn-default(type='button' onClick='send();') Send
