extends layout

block content
  script.
      console.log('loading script');
      var socket = io();
      console.log('connected');

      $(function(){
          $('#dataSend').click(function(){
              var message = $('#data').val();
              $('#data').val('');
              socket.emit('newMessage', message);
          });
          
          $('#data').keypress(function(e){
              if(e.which == 13){
                  $(this).blur();
                  $('#dataSend').focus().click();
              }
          });
          
      });

  .container
    #chatwindow
      #contents
        ul(id="chats")
          each chat in fullChats
            li 
              b Author:  
              a(href="/messages/#{chat[0].reciever}/#{chat[0].chatId}") #{chat[0].author}  
              p -  
              p
                | Reciever:  
                | #{chat[0].reciever}

