extends layout

block content
  .container
    h1 Messages
    #chatwindow(width='50%', float='right')
      #messages
      
      form(action="", id='msgForm', onSubmit='return false;')
          input(id="message" autocomplete="off")
          button(type='button', onClick='send();') Send