extends layout

block content
  script.
      console.log('loading script');
      var socket = io();
      console.log('connected');
      
      $(function(){
          $('#dataSend').click(function(){
              var message = $('#data').val();
              $('#data').val('');
              socket.emit('newMessage', message);
              alert('Message Sent!');
          });
          
          $('#data').keypress(function(e){
              if(e.which == 13){
                  $(this).blur();
                  $('#dataSend').focus().click();
              }
          });
          
      });

  .container
    #chatwindow
      #contents
    
        form(action="/messages/newMessage/#{recip.username}", method="post", id='msgForm')
          input.form-control(id="composedMessage" autocomplete="off" name='composedMessage')
          br
          br
          br
          input.btn.btn-default(type='submit', id='dataSend' value="Send")