extends layout

block content
  h1.cover-heading References
  br
  ul
    li Bootstrap Template from 
      a.links(href='https://v4-alpha.getbootstrap.com/examples/cover/') Bootstrap.com
    li Background Frog Fitness Image from 
      a.links(href='https://pixabay.com/en/sport-gymnastics-frog-funny-927760/') Pixabay.com
    li Chat room design guide
      a.links(href='psitsmike.com/2011/10/node-js-and-socket-io-multiroom-chat-tutorial/') psitsmike.com 
    li Private messaging design guide
      a.links(href='blog.slatepeak.com/creating-a-real-time-chat-api-with-node-express-socket-io-and-mongodb/') blog.slatepeak.com
