extends layout

block content
  h1.cover-heading References
  br
  ul
    li Bootstrap Template from 
      a.links(href='https://v4-alpha.getbootstrap.com/examples/cover/') Bootstrap.com
    li Background Frog Fitness Image from 
      a.links(href='https://pixabay.com/en/sport-gymnastics-frog-funny-927760/') Pixabay.com
