extends layout

block content
  h1.cover-heading References
  br
  ul
    li Bootstrap Template from 
      a.links(href='https://v4-alpha.getbootstrap.com/examples/cover/') Bootstrap.com
    li Background Frog Fitness Image from 
      a.links(href='https://pixabay.com/en/sport-gymnastics-frog-funny-927760/') Pixabay.com
    li Birthdate dropdown menu &nbsp
      a.links(href='https://knowledgecornor.blogspot.com.au/2013/08/birthday-dropdown-using-html-and-js.html') Here
