extends layout

block content

  h1 Registration Page
  br
  form(action="/register",method="post" onsubmit="checkSelect()")
    .form-group
      label(for='username') Username: 
      input#username.form-control(type='text' placeholder='Enter a username' name='username' required)

    .form-group
      label(for='name') Name: 
      input#name.form-control(type='text' placeholder='Enter your name' name='name' required)
        
    .form-group
      label(for='email') Email: 
      input#email.form-control(type='email' placeholder='Enter email' name='email' required)

      
    .form-group
      label(for='password') Password:  
      input#pwd.form-control(type='password', placeholder='Enter password' name='password' autocomplete="new-password" required)

      
    .form-group
      label(for='gender') Gender:  
      select#gender.form-control(name='gender')
        option(value='Female') Female
        option(value='Male') Male     

    .form-group
      label Birthday: 
      br 
      select.dobForm(name="mth" onchange="call()")
        option(value='') Month
        option(value='1') Jan
        option(value='2') Feb
        option(value='3') Mar
        option(value='4') Apr
        option(value='5') May
        option(value='6') Jun
        option(value='7') Jul
        option(value='8') Aug
        option(value='9') Sep
        option(value='10') Oct
        option(value='11') Nov
        option(value='12') Dec
      select.dobForm(name='day')
        option(value='') Day
    
      select.dobForm(name='year', onchange='call()')
        option(value='') Year
      
      br
      .error-msg

      //- input#day.dobForm(type='text' placeholder='dd' name='day' maxlength=2 required)
      //- input#mth.dobForm(type='text' placeholder='mm' name='mth' maxlength=2 required)
      //- input#yr.dobForm(type='text' placeholder='yyyy' name='yr' maxlength=4 required)
      //- p lets just assume people will input the correct date for now
    
    input.btn.btn-default(type='submit' value='Register')
    
    
    script.
      //- function checkSelect() {
      //-   var formMth = document.getElementsByName("mth")[0],
      //-   formDay = document.getElementsByName("day")[0],
      //-   formYear = document.getElementsByName("year")[0];
      //-   for(i=0; i<=12; i++){
      //-     //check if select values on dropdown list are not on default
      //-     if (formMth.options[i].text == 'Month'|| formDay.options[i].text == 'Day' || formYear.options[i].text == 'Year'){
      //-       alert('Birthday Required');
      //-       return False;
      //-     } 
      //-     
      //-   }
      //-   
      //- };
      //Function to fill in birthday dropdown menu to ensure correct values
      //https://knowledgecornor.blogspot.com.au/2013/08/birthday-dropdown-using-html-and-js.html
      function call(){
        var kcyear = document.getElementsByName("year")[0],
        kcmonth = document.getElementsByName("mth")[0],
        kcday = document.getElementsByName("day")[0];
             
        var d = new Date();
        var n = d.getFullYear();
        for (var i = n; i >= 1900; i--) {
        var opt = new Option();
        opt.value = opt.text = i;
        kcyear.add(opt);
          }
        kcyear.addEventListener("change", validate_date);
        kcmonth.addEventListener("change", validate_date);

        function validate_date() {
        var y = +kcyear.value, m = kcmonth.value, d = kcday.value;
        if (m === "2")
           var mlength = 28 + (!(y & 3) && ((y % 100) !== 0 || !(y & 15)));
        else var mlength = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][m - 1];
        kcday.length = 0;
        for (var i = 1; i <= mlength; i++) {
           var opt = new Option();
           opt.value = opt.text = i;
           if (i == d) opt.selected = true;
           kcday.add(opt);
        }
           }
          validate_date();
      };
