<style>
	* { 
		margin: 0; 
		padding: 0; 
		box-sizing: border-box; 
	}
	body { 
		font: 13px Helvetica, Arial; 
	}
	form { 
		margin: auto;
		background: lightgrey; 
		padding: 3px; 
		position: fixed; 
		bottom: 5px; 
		width: 90%;
	}
	form button{
		width: 9%;
		padding: 10px;
	}
	form input { 
		border: 0; 
		padding: 1.2%; 
		width: 88%; 
		margin-right: .5%; 
	}
	#messages { 
		list-style-type: none;
		margin: 0; 
		padding: 0; 
	}
	#messages li { 
		padding: 5px 10px; 
	}
	#messages li:nth-child(odd) { 
		background: #eee; 
	}
	.container{
		margin-top: 1%;
		border: 2px black solid;
	}
</style>